<style type="text/css">

body{
overflow-x: hidden;
margin: 0;
padding: 0;
border: 0;
height: 100%;
border-bottom: 5px solid #89A6D1;
}


.top-part{
position:absolute;
top: 0;
left: 0;
width: 8%;
height: 1000px;
overflow: hidden;
background-color: #6389C2;
border-bottom: 5px solid #89A6D1;
color: white;
}

.heading{
position:absolute;
top: 2%;
left: 150px;
overflow: hidden;
border: 5px solid #89A6D1;
color: black;
}

.top-table{
position:absolute;
top: 12%;
left: 175px;
overflow: hidden;
width:690px;
height:155px;
border: 2px solid #89A6D1;
color: 	#236B8E;
font-family: arial, helvetica, sans-serif;
font-size:12px;
}

.what-table{
position:absolute;
top: 34%;
left: 175px;
overflow: hidden;
width:330px;
height:200px;
border: 2px solid #89A6D1;
color: 	#236B8E;
font-family: arial, helvetica, sans-serif;
font-size:12px;
}

.howBad-table{
position:absolute;
top: 34%;
left: 545px;
overflow: hidden;
width:320px;
height:100px;
border: 2px solid #89A6D1;
color: 	#236B8E;
font-family: arial, helvetica, sans-serif;
font-size:12px;
}

.who-table{
position:absolute;
top: 64%;
left: 175px;
overflow: hidden;
width:330px;
height:60px;
border: 2px solid #89A6D1;
color: 	#236B8E;
font-family: arial, helvetica, sans-serif;
font-size:12px;
}

.version-table{
position:absolute;
top: 64%;
left: 545px;
overflow: hidden;
width:320px;
height:60px;
border: 2px solid #89A6D1;
color: 	#236B8E;
font-family: arial, helvetica, sans-serif;
font-size:12px;
}

.problem-table{
position:absolute;
top: 77%;
left: 175px;
overflow: hidden;
width:690px;
height:130px;
border: 2px solid #89A6D1;
color: 	#236B8E;
font-family: arial, helvetica, sans-serif;
font-size:12px;
}

.more-table{
position:absolute;
top: 98%;
left: 175px;
overflow: hidden;
width:690px;
height:150px;
border: 2px solid #89A6D1;
color: 	#236B8E;
font-family: arial, helvetica, sans-serif;
font-size:12px;
}

.logo-location {
position:absolute;
TOP:1%;
LEFT:25%
}

.top-content{
margin: auto;
width: 950px;
}

.login-box {
color: white;
padding: 5% 0 10px 5%;
width: 500px;
}
.login-controls {
padding: 0 0 0 22%;
}

.icon-box {
position: absolute;
padding: 15% 0 0 0;
}

.outer {
	position:absolute;
	top: 10%;
	left: 150px;
	overflow: hidden;
	width:770px;
	height:900px;
	border: 1px solid #98AFC7;
	color: black;
}

.project {
	position:absolute;
	top: 15%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.headline {
	position:absolute;
	top: 20%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.summary{
	position:absolute;
	top: 25%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.product{
	position:absolute;
	top: 38%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.component{
	position:absolute;
	top: 42%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.software{
	position:absolute;
	top: 46%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.hardware{
	position:absolute;
	top: 50%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.commit{
	position:absolute;
	top: 54%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.severity{
	position:absolute;
	top: 38%;
	left: 570px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.priority{
	position:absolute;
	top: 42%;
	left: 570px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.manager{
	position:absolute;
	top: 68%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.version{
	position:absolute;
	top: 68%;
	left: 570px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.during{
	position:absolute;
	top: 80%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.impact{
	position:absolute;
	top: 84%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.test{
	position:absolute;
	top: 88%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.document{
	position:absolute;
	top: 102%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.osType{
	position:absolute;
	top: 107%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.osVersion{
	position:absolute;
	top: 112%;
	left: 210px;
	overflow: hidden;
	color: black;
	font-family: arial, helvetica, sans-serif;
	font-size:13px;
}

.side {
	position:absolute;
	top: 10%;
	left: 950px;
	overflow: hidden;
	width:500px;
	height:900px;
	border: 1px solid #98AFC7;
	color: black;
}

.innerSide{
	position:absolute;
	top: 45%;
	left: 1010px;
	overflow: hidden;
	width:370px;
	height:600px;
	border: 5px solid #89A6D1;
	color: black;
}

.upperSide{
	position:absolute;
	top: 15%;
	left: 1010px;
	overflow: hidden;
	width:370px;
	height:200px;
	border: 5px solid #89A6D1;
	color: black;
}
.initialise{
	position:absolute;
	top: 50%;
	left: 1090px;
	overflow: hidden;
	color: black;
}

.comp{
	position:absolute;
	top: 65%;
	left: 1090px;
	overflow: hidden;
	color: black;
}

.bug{
	position:absolute;
	top: 80%;
	left: 1090px;
	overflow: hidden;
	color: black;
}

.icomments{
	position:absolute;
	top: 95%;
	left: 1090px;
	overflow: hidden;
	color: black;
}

.add{
	position:absolute;
	top: 110%;
	left: 1090px;
	overflow: hidden;
	color: black;
}

.out{
	position:absolute;
	top: 30%;
	left: 1000px;
	overflow: hidden;
	color: black;
}
.welcome {
margin: 0;
padding-left: 20px;
padding-right: 20px;
font-family: Arial, Helvetica, sans-serif;
font-size: 25px;
color: black;
}

.icon1 {
	position:absolute;
	top: 155px;
	left: 199px;
	overflow: hidden;
}

.icon2 {
	position:absolute;
	top: 215px;
	left: 199px;
	overflow: hidden;
}
.icon3 {
	position:absolute;
	top: 300px;
	left: 199px;
	overflow: hidden;
}

.icon4 {
	position:absolute;
	top: 335px;
	left: 199px;
	overflow: hidden;
}

.icon5 {
	position:absolute;
	top: 365px;
	left: 199px;
	overflow: hidden;
}

.icon6 {
	position:absolute;
	top: 398px;
	left: 199px;
	overflow: hidden;
}

.icon7 {
	position:absolute;
	top: 818px;
	left: 199px;
	overflow: hidden;
}

.icon8 {
	position:absolute;
	top: 540px;
	left: 199px;
	overflow: hidden;
}

.icon9 {
	position:absolute;
	top: 638px;
	left: 199px;
	overflow: hidden;
}

.icon10 {
	position:absolute;
	top: 670px;
	left: 199px;
	overflow: hidden;
}

.icon11 {
	position:absolute;
	top: 700px;
	left: 199px;
	overflow: hidden;
}

.icon12 {
	position:absolute;
	top: 853px;
	left: 199px;
	overflow: hidden;
}

.icon13 {
	position:absolute;
	top: 890px;
	left: 199px;
	overflow: hidden;
}

.icon14 {
	position:absolute;
	top: 300px;
	left: 560px;
	overflow: hidden;
}

.icon15 {
	position:absolute;
	top: 335px;
	left: 560px;
	overflow: hidden;
}

.icon16 {
	position:absolute;
	top: 540px;
	left: 560px;
	overflow: hidden;
}
.footer{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    width: 100%;
}
</style>
